@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
}

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #27548a;
}

:root {
  --safe-top: 50px;
  --safe-bottom: 34px;
  --safe-left: 0px;
  --safe-right: 0px;
}

.p-safe {
  padding-top: var(--safe-top);
  padding-right: var(--safe-right);
  padding-bottom: var(--safe-bottom);
  padding-left: var(--safe-left);
}

.pt-safe {
  padding-top: var(--safe-top);
}

.pb-safe {
  padding-bottom: var(--safe-bottom);
}

.pl-safe {
  padding-left: var(--safe-left);
}

.pr-safe {
  padding-right: var(--safe-right);
}

.px-safe {
  padding-left: var(--safe-left);
  padding-right: var(--safe-right);
}

.py-safe {
  padding-top: var(--safe-top);
  padding-bottom: var(--safe-bottom);
}
