@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --breakpoint-xs: 30rem;
}

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #27548a;
  --color-secondary: #dda852;
  --color-primary-content: #f0f4f8;
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
}

:root {
  --safe-top: 50px;
  --safe-bottom: 34px;
  --safe-left: 0px;
  --safe-right: 0px;
}

@utility p-safe {
  padding-top: var(--safe-top);
  padding-right: var(--safe-right);
  padding-bottom: var(--safe-bottom);
  padding-left: var(--safe-left);
}

@utility pt-safe {
  padding-top: var(--safe-top);
}

@utility pb-safe {
  padding-bottom: var(--safe-bottom);
}

@utility pl-safe {
  padding-left: var(--safe-left);
}

@utility pr-safe {
  padding-right: var(--safe-right);
}

@utility px-safe {
  padding-left: var(--safe-left);
  padding-right: var(--safe-right);
}

@utility py-safe {
  padding-top: var(--safe-top);
  padding-bottom: var(--safe-bottom);
}
