@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --breakpoint-xs: 30rem;
}

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "urbanhub";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #27548a;
  --color-primary-content: #f0f4f8;
  --color-secondary: #dda852;
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

:root {
  --safe-top: 50px;
  --safe-bottom: 34px;
  --safe-left: 0px;
  --safe-right: 0px;
}

@utility p-safe {
  padding-top: var(--safe-top);
  padding-right: var(--safe-right);
  padding-bottom: var(--safe-bottom);
  padding-left: var(--safe-left);
}

@utility pt-safe {
  padding-top: var(--safe-top);
}

@utility pb-safe {
  padding-bottom: var(--safe-bottom);
}

@utility pl-safe {
  padding-left: var(--safe-left);
}

@utility pr-safe {
  padding-right: var(--safe-right);
}

@utility px-safe {
  padding-left: var(--safe-left);
  padding-right: var(--safe-right);
}

@utility py-safe {
  padding-top: var(--safe-top);
  padding-bottom: var(--safe-bottom);
}

/* Disable focus rings globally */
.input:focus,
.input:focus-visible,
.input:focus-within {
  outline: none !important;
}

.rdp-root {
  --rdp-accent-color: var(--color-primary);
}
